.App-container {
  width: 87.5%;
  margin: 5rem auto;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 1px 60px 0 rgba(0, 0, 0, 0.25);
  background-color: #fafafa;
}

.App-navbar {
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
  display: flex;
}

.App-headline {
  height: 3rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(2,144, 255);
}

.App-links {
  display: flex;
}

.App-link-item {
  height: 1.2rem;
  margin: 1.125rem 1.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}